{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block title %}Adicionar nova Cafeteria{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Adicione uma nova Cafeteria no Banco de Dados</h1>

      {{ wtf.quick_form(form, novalidate=True) }}

	  <p class="space-above"><a href="{{ url_for('cafes') }}">Veja todas as Cafeterias</a></p>

    </div>
  </div>
</div>

{% endblock %}
